{
  "branch": "master",
  "verifyConditions": [],
  "@semantic-release/git",
  "prepare": [
    {
      "path": "@semantic-release/exec",
      "cmd": "bumpversion --current-version ${lastRelease.version} --new-version ${nextRelease.version} --verbose patch"
    }
  ],
  "publish": ["@semantic-release/github"]
}
